body {
    font-family: 'Noto Sans', Georgia, Helvetica, sans-serif;
}

i.fa-solid {
    margin-right: 5px;
}

.table thead th.ASC:after,
.table thead th.DESC:after {
    content: '↑';
    color: red;
    font-weight: bold;
    padding: 3px;
}

.table thead th.DESC:after {
    content: '↓';
}

a.disabled {
    background-color: blue;
}

.fade-out {
    opacity: 0;

    transition: opacity 2s ease-out;
}

.navbar .form-label {
    margin-bottom: 0;
}
